@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


body{
    width: 100%;
    padding: 10px;
    /* background-color: black; */
}
.card{
    padding: 20px;
    color: white;
    border-radius: 20px;
    background-color: cornflowerblue;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 10px 10px 60px gray;
}
.weather-higlight img {
    width: 120px;

}
.search{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .userInput{
        width: 85%;
        height: 40px;
        padding: 10px 15px;
        outline: none;
        border: none;
        border-radius: 18px;
        font-size: 16px;
    }

    button{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        outline: none;
        border: none;
        cursor: pointer;
        transition: 0.5s;

        &:hover{
            background-color: yellow;
        }

         img{
            font-size: large;
            max-width: 20px;
         }
    }
}

.weather-higlight,
.weather-detail{
    padding: 20px 0;
}

.temp{
    font-size: 64px;
    font-weight: 800;
    text-shadow: 10px 10px 70px limegreen;
}


.main{
    font-style: 19px;
    color: yellow;
    padding: 8px 0;
    text-transform: capitalize;
}
.city {
    font-size: 24px;
}
.weather-detail{
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;


    div p:first-child{
        color: yellow;
        font-weight: 500;
        font-style: 20px;
        margin-bottom: 5px;

    }
}
.tips{
    text-align: left;
    padding: 10px;


    p:first-child{
        font-weight: bold;
        color: yellow;
        padding: 10px 0;

    }
    p:last-child{
        color: ghostwhite;
    }
}
.weather-info-container{
    display: none;
}
.error{
    text-align: left;
    padding-left: 10px;
    color: yellow;
    display: none;
    font-weight: 500;
    animation: blink 1s infinite;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}