.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body{
  background: rgb(44, 44, 44);
  color: rgb(170, 170, 170);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


  }
.container{
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
  padding: 0 15px;
}
img{
  height: 200px;
  width: 340px;
max-width: 500px;
max-height: 200px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.cards_first_section{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 40px;
gap: 30px;
flex-wrap: wrap;
position: sticky;
}
.card{
  border: 2px solid rgb(184, 184, 184);
width: 344px;
height: 440px;
border-radius: 10px;
background: rgb(44, 44, 44);


    p{
        padding: 12px 12px;
        font-weight: 700;
        font-size: x-large;
        color: rgb(184, 184, 184);
        text-align: center;
     }
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
h2{
  margin-left: 25vh;
  margin-top: 50px;
margin-bottom: 30px;


}
.koenig{

  padding-top: 15px;
  padding-left: 20px;

}
.header{
font-size: 50px;

@media (max-width: 950px) {
  font-size: 50px;
}
@media (max-width: 800px) {
  font-size: 50px;
}
@media (max-width: 430px) {
  font-size: 50px;
}
@media (max-width: 500px) {
  font-size: 50px;
}
@media (max-width: 600px) {
  font-size: 50px;
}
}
.cards_second_section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  gap: 30px;
  flex-wrap: wrap;

  }
  .cards_third_section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 30px;
    flex-wrap: wrap;
    }
.name{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.koenig{

  color: rgb(255, 255, 255);
}
.koenigsegg_section{
  background-size: cover;
  background-position: center;
    background-image: url(https://images3.alphacoders.com/124/1240061.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
}
.koenigsegg{
  border-right: 5px solid red;
  border-top: 5px solid red;
  border-left: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
   width: 420px;
   height: 369px;
   margin-right: 150px;

 
 padding-right: 10px;


}
.cards_fourth_section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  gap: 30px;
  flex-wrap: wrap;

  }
  .original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #000000;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgb(0, 0, 0);
    background-color: #ffffff;
    margin-top: 65px;
    margin-left: 70px;
  }
  .original-button-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ff0000;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #ff0000;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgb(0, 0, 0);
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 90px;
  }
.original-button:hover {
    box-shadow: 0 0 #ffffff;
    color: #fff;
    background-color: #000000;
    border: 2px solid white;
  }
.original-button-1:hover {
    box-shadow: 0 0 #ffffff;
    color: #fff;
    background-color: #ff0000;
    border: 2px solid white;
  }
.KG{
  padding-top: 20px;
  padding-left: 125px;
  color: rgb(255, 0, 0);
}
.span{
  color: white;
}
.span2{
  color: red;
}