*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    margin: 0 auto;
}

.project1{
    height: 980px;
}
.serfing{
    height: 980px;
}
.ssilki{
    color: #FFF;
font-family: Roboto Condensed;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
text-align: center;

gap: 30px;
}
h1.Wawe{
    color: #0D302C;
font-family: Raleway;
font-size: 200px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
margin-top: 100px;
}
section.project1{
    background-image: url(wawe.png);
   padding: 0;
   margin: 0 auto;

}
h1.Wawe{
    padding-top: 90px;
    display: flex;
    justify-content: center;
}
a{
    color: white;
    text-decoration: none;
}
a.textovik{
    border-bottom: 1px solid aquamarine;
}
.ww{
    margin-top: 20px;
    margin-right: 200px;
    margin-left: -100px;
}
h5{
text-align: center;
margin-top: -40px;
}
h5{
    color: #000;
font-family: Roboto Condensed;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}
.t{
    padding-left: 30px;
}
.serf{
    text-align: center;
    margin-top: 160px;
    color: #01353E;
font-family: Raleway;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.6px;
}
.ppshka1,.ppshka2{
    color: #242121;
font-family: Roboto Condensed;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 18px; /* 128.571% */
letter-spacing: 0.6px;

display: flex;
width: 480px;
gap: 40px;
justify-content: flex-end;
flex-direction: column;
justify-content: space-between;
flex-shrink: 0;
}
.ppshechki{
    margin-top: 150px;
  display: flex;
  justify-content: center;
  gap: 60px;
   text-align: center;
    flex-direction: row;
}
.ppshka1{
    
    
}
.numbers{
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.numb {
    font-family: Roboto Condensed;
font-size: 14px;
font-weight: 300;
line-height: 18px;
letter-spacing: 0.6000000238418579px;
}
.chisl{
    font-family: Roboto Condensed;
font-size: 64px;
font-weight: 700;
line-height: 75px;
letter-spacing: 0.6000000238418579px;
text-align: left;
}
.citata{
    margin: 0 auto;
    padding: 0;
    margin-top: 100px;
}
.citatka{
    display: flex;
    justify-content: center;
    text-align: center;
}
.pctka{
    padding-left: 400px;
    font-family: Roboto Condensed;
font-size: 14px;
font-style: italic;
font-weight: 300;
line-height: 18px;
letter-spacing: 0.6000000238418579px;
text-align: left;

}
.h4iyushka{
    margin-top: 200px;
    font-family: Roboto Condensed;
font-size: 36px;
font-style: italic;
font-weight: 400;
line-height: 40px;
letter-spacing: 0.6000000238418579px;
text-align: left;
}
.imgishki{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.komnd{
    font-family: Raleway;
font-size: 48px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0.6000000238418579px;
text-align: left;
text-align: center;
margin-bottom: 240px;
margin-top: 200px;
}
.photo1 h4{
    font-family: Roboto Condensed;
font-size: 18px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.6000000238418579px;
text-align: left;
}
.photo1 p{
    font-family: Roboto Condensed;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.6000000238418579px;
text-align: left;
margin-bottom: 260px;
}
.packi{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container h3{
    font-family: Raleway;
font-size: 48px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0.6000000238418579px;
text-align: left;

}
.cardn1{
    border: 1px solid white;
    background-color: white;
    width: 360px;
    height: 577px;
    margin-bottom: 100px;

    
}
.cards{
    display: flex;
    justify-content: center;
    gap: 100px;
   text-align: center;
}
.cardn1 p{
    font-family: Roboto Condensed;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.6000000238418579px;
text-align: left;
padding-left: 30px;
}
.cardn1 h4{
    font-family: Roboto Condensed;
font-size: 36px;
line-height: 40px;
letter-spacing: 0px;
text-align: center;
padding-top: 30px;
}
.packet{
    background-color: whitesmoke;
}
.map{
    margin-top: 100px;
    margin-bottom: 200px;
}